{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Wind</th>
                <th>Pressure</th>
                <th>Uv</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.temperature }}</td>
                <td>{{ weather.humidity }}</td>
                <td>{{ weather.wind }}</td>
                <td>{{ weather.pressure }}</td>
                <td>{{ weather.uv }}</td>
                <td>{{ weather.date ? weather.date|date('Y-m-d') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_W_SHOW') %}
                        <a href="{{ path('app_w_show', {'id': measurement.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_W_EDIT') %}
                        <a href="{{ path('app_w_edit', {'id': measurement.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_w_new') }}">Create new</a>
{% endblock %}
